@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap");
* {
  padding: 0;
  margin: 0;
}
*, *::after, *::before {
  box-sizing: border-box;
}

button {
  cursor: pointer;
}

button,
input,
select,
textarea {
  font-family: inherit;
}

.container, .blog, .hero__content, .header {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
}

.container-full {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}

.header {
  padding: 40px 0;
}
.header__navigation {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.header__nav-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: 24px;
}
.header__list-item {
  font-size: 0.875rem;
  font-weight: 400;
  color: #000000;
  line-height: 1rem;
  font-family: "Lato", sans-serif;
  list-style: none;
}
.header__nav-link {
  text-decoration: none;
  color: #000000;
  text-transform: uppercase;
}
.hero {
  width: 100%;
  height: 500px;
  background: url(./../../assets/bg-image-mobile.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  aspect-ratio: 9/14.05;
}
@media screen and (min-width: 768px) {
  .hero {
    width: 100%;
    background: url(./../../assets/bg-image-tablet.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    aspect-ratio: 21.6/9;
  }
}
@media screen and (min-width: 1024px) {
  .hero {
    width: 100%;
    max-height: 600px;
    aspect-ratio: 16/9;
    background: url(./../../assets/bg-image-desktop.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}
.hero__heading {
  font-size: 1.875rem;
  font-weight: 600;
  color: #000000;
  line-height: 3.125rem;
  font-family: "Red Hat Display", sans-serif;
}
@media screen and (min-width: 768px) {
  .hero__heading {
    font-size: 2.25rem;
    font-weight: 400;
    color: #000000;
    line-height: 3.125rem;
    font-family: "Lato", sans-serif;
  }
}
@media screen and (min-width: 1024px) {
  .hero__heading {
    font-size: 3rem;
    font-weight: 400;
    color: #000000;
    line-height: 4rem;
    font-family: "Lato", sans-serif;
  }
}

.blog {
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin-top: 90px;
  margin-bottom: 90px;
}
.blog__heading {
  font-size: 3rem;
  font-weight: 400;
  color: #000000;
  line-height: 4rem;
  font-family: "Red Hat Display", sans-serif;
}
.blog__article {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 30px;
  flex-wrap: wrap;
}
.blog__article-content-wrap {
  width: 100%;
  height: 100%;
  flex: 1;
}
.blog__article-content-wrap-right {
  display: flex;
  justify-content: flex-end;
}
.blog__article-content {
  max-width: 450px;
  height: auto;
}
.blog__article-category {
  font-size: 1rem;
  font-weight: 400;
  color: #7b7b7b;
  line-height: 1.625rem;
  font-family: "Lato", sans-serif;
  margin-bottom: 30px;
  letter-spacing: 1.6px;
}
.blog__article-title {
  font-size: 1.4375rem;
  font-weight: 500;
  color: #000000;
  line-height: 2.375rem;
  font-family: "Red Hat Display", sans-serif;
  letter-spacing: 1.6px;
  margin-bottom: 15px;
}
.blog__article-meta {
  font-size: 1rem;
  font-weight: 400;
  color: #7b7b7b;
  line-height: 1.625rem;
  font-family: "Lato", sans-serif;
  letter-spacing: 1.6px;
  margin-bottom: 50px;
}
.blog__wrap-discription {
  position: relative;
  margin-bottom: 10px;
}
.blog__article-description {
  font-size: 1rem;
  font-weight: 400;
  color: #565656;
  line-height: 1.625rem;
  font-family: "Lato", sans-serif;
  letter-spacing: 0.8px;
}
.blog__article-arrow {
  position: absolute;
  bottom: 6px;
  left: 190px;
}

/*# sourceMappingURL=main.css.map */
