// COLORS
// Every color variable name should include the word "color"
$white-color: #ffffff;
$black-color: #000000;
$button-hover-color: #323232;
$main-text-color: #565656;
$placeholder-color: #7b7b7b;
$footer-bg-color: #f4f4f4;
$error-color: #e10000;

// TYPOGRAPHY
$font-main: "Lato", sans-serif;
$font-secondary: "Red Hat Display", sans-serif;

// CONTAINER
$container-width: 1170px;
$container-width-full: 1440px;